@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    background: linear-gradient(#ff4ee9, #ffffff);
    background-image: url('./assets/bg3.jpg');
    background-size: cover;
}